<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a student at
      <a class="underline-link" href="https://www.indiana.edu/" target="_blank">Indiana University</a> where I study an interdisciplinary course of study in Computer Science, Business, and Policy. I've worked at 
      <a class="underline-link" href="https://www.simpo.io/" target="_blank">Simpo.io</a>, a startup located in Tel Aviv, that is focused on improving user experiences and product onboarding via their product the ActionBar and at
      <a class="underline-link" href="http://gusevlab.org/software/" target="_blank">Columbia University's Computer Science Lab</a>, where I worked on a bioinformatics algorithm called Germline.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably sailing, reading,
      or working on technology related policy papers.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
